<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM"/>
    <!-- sdk 33(android 13) 이상 버전 사용시 설정 -> 시계나 스케줄 앱인 경우에 자동으로 알람 설정에 대한 권한이 부여됨 -->
<!--    <uses-permission android:name="android.permission.USE_EXACT_ALARM"/>-->

    <!-- 진동 권한 -->
    <uses-permission android:name="android.permission.VIBRATE"/>

    <!-- 알림 설정 -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>

    <!-- 포그라운드 서비스 -> api 31 이상부터는 type, notification 도 같이 설정 해 줘야함 -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_LOCATION"/>

    <!-- 위치 권한의 설정 -->
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:name=".ApplicationPoint"
        android:theme="@style/Theme.StudyReference">
        <activity
            android:name=".ActivityStartingPoint"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.StudyReference">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 정적 리시버 등록, 코드상에서 리시버를 등록하지 앱이 실행되면 무조건 실행 되도록 하는 코드 -->
        <receiver
            android:name=".systemArch.alarmManager.ExactListenBroadCast"
            android:exported="false"
            android:enabled="true"
            >
            <intent-filter>
                <action android:name="com.example.studystartingpoint.START_EXACT_ALARM_TEST"/>
            </intent-filter>
        </receiver>

        <service
            android:name=".systemArch.gpsModule.GpsForegroundService"
            android:exported="false"
            android:foregroundServiceType="location" />

    </application>

</manifest>