<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM"/>
    <!-- sdk 33(android 13) 이상 버전 사용시 설정 -> 시계나 스케줄 앱인 경우에 자동으로 알람 설정에 대한 권한이 부여됨 -->
    <uses-permission android:name="android.permission.USE_EXACT_ALARM"/>
    
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.StudyReference">
        <activity
            android:name=".ActivityStartingPoint"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.StudyReference">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".systemArch.alarmManager.ExactListenBroadCast"
            android:exported="false"
            android:enabled="true"
            >
            <intent-filter>
                <action android:name="com.example.studystartingpoint.START_EXACT_ALARM_TEST"/>
            </intent-filter>
        </receiver>
    </application>

</manifest>